table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
}

table, td,th {
text-align: left;
padding: 15px;


}
.hora {
	 font-size: small;
	 border: 3px solid black;	
	 border-style: outset;
	 background-color: #E6E6E6;
	 
}
table {
border-bottom: 3px solid black;
border-right: 3px solid black;
border-style: outset;
}
.hl {
border-bottom: 3px solid black;
border-style: outset;

}

.centro{
	 border: 3px solid black;	
	 border-style: outset;
}

.smx{
text-align: right;
font-size: smaller;
font-style: italic;
}

